@using RazorLight
@inherits TemplatePage<Markdown.Renderer.Res.Model.MainModel>

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Title</title>
    <meta charset="utf-8">
    <meta name="description" content="@Model.Description">
    <link rel="stylesheet" href="@Model.CssLink">
</head>
<body>
@Raw(@Model.RenderedMarkdown)
</body>
</html>